/* SEBPO-Homepage Most Common = 1366px 2560px*/
@media only screen and (min-width: 2030px) and (max-width: 4000px){

/*======================================================
  CAROUSEL START
=======================================================*/

.iconQuote {
	padding-bottom: 420px;
}
.iconQuote img{
	width:135px;
	height:135px;
}
.carousel-inner .item .carousel-caption {
    padding-bottom: 210px;
	 /*padding-bottom: 13%;*/
}
.carousel-indicators {
    padding-bottom: 155px;
	/*padding-bottom: 9%;*/
}
.bannerCarousel {
	height:1090px;
    overflow: hidden;
}
.slider-masking{ 
	 height: 1090px;
}

.carouselHeadLine{ 
	font-size:112px;
	font-weight:800;
    text-transform: uppercase;
}
.carouselSpecLine1{ 
	font-size:60px;
	font-style:italic;
	font-weight:800;
    text-transform: uppercase;
}
.carouselSpecLine2{ 
	font-size:48px;
}
.carousel-inner .item .carousel-caption h2 {
    font-size: 112px;
	line-height:100px;
	padding-top:60px;
}
.carousel-inner .item .carousel-caption p {
    font-size: 48px;
    padding: 50px 0 70px 0;
}
.carousel-inner .item .carousel-caption p small {
    font-size: 36px;
}
.buttonCTA {
    font-size: 48px;
}
.ctaArrow {
    width: 30px;
    height: 30px;
}

.carousel-indicators li {
  width: 18px;
  height: 18px;
  margin:0 14px;
  border-radius: 10px;
}
.carousel-indicators li.active {
  width: 18px;
  height: 18px;
  margin:0 14px;
  border-radius: 10px;
}

/*======================================================
  middle3rdSection SECTION START
=======================================================*/
.container-fluid .middle3rdSection{
    max-width: 1840px;
    margin: 0 auto;
}
.eachBox {
	background:#ffffff;
	min-height:470px;
	width:564px;
	border-bottom:16px solid #006f9a;
	border-radius: 0 0 10px 10px;
	
	
	-webkit-box-shadow: 0px -7px 14px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px -7px 14px 1px rgba(0,0,0,0.5);
	box-shadow: 0px -7px 14px 1px rgba(0,0,0,0.5);
	
}
.ctaFlag {
    margin: 10px 0 0 -18px;
}
.ctaFlag .skewIcon {
    width: 16px;
	height:44px;
    transform: skew(0deg, -30deg);
	top:-4px;
}
.ctaFlag img {
	width:26px;
	height:26px;
	top:10px;
}
.ctaFlag a{
	padding-left:70px; 
	line-height:44px;
	font-size:18px;
	overflow:hidden;
}
.copyContent h2{
	font-size:35px;
	line-height:48px;
}
.copyContent p{
	font-size:24px;
	line-height:36px;
}





/*======================================================
  SERVICE SECTION START
=======================================================*/
.serviceSction h2 {
	font-size:60px;
}




	
}


/* SEBPO-Homepage iPad = 1536px 2559px*/
@media only screen and (min-width: 1536px) and (max-width: 2029px){


/*======================================================
  CAROUSEL START
=======================================================*/
.iconQuote {
	padding-bottom: 320px;
}
.iconQuote img{
	width:135px;
	height:135px;
}
.carousel-inner .item .carousel-caption {
    padding-bottom: 335px;
	 /*padding-bottom: 13%;*/
}
.carousel-indicators {
    padding-bottom: 220px;
	/*padding-bottom: 9%;*/
}
.bannerCarousel {
	height:1000px;
    overflow: hidden;
}
.slider-masking{ 
	 height: 1000px;
}
.carouselHeadLine{ 
	font-size:96px;
	font-weight:800;
    text-transform: uppercase;
}
.carouselSpecLine1{ 
	font-size:48px;
	font-style:italic;
	font-weight:800;
    text-transform: uppercase;
}
.carouselSpecLine2{ 
	font-size:36px;
}
.carousel-inner .item .carousel-caption h2 {
    font-size: 96px;
	line-height:84px;
	padding-top:60px;
}
.carousel-inner .item .carousel-caption p {
    font-size: 48px;
    padding: 50px 0 70px 0;
}
.carousel-inner .item .carousel-caption p small {
    font-size: 36px;
}
.buttonCTA {
    font-size: 41px;
}
.ctaArrow {
    width: 30px;
    height: 30px;
}

.carousel-indicators li {
  width: 16px;
  height: 16px;
  margin:0 14px;
  border-radius: 9px;
}
.carousel-indicators li.active {
  width: 16px;
  height: 16px;
  margin:0 14px;
  border-radius: 9px;
}


/*======================================================
  middle3rdSection SECTION START
=======================================================*/
.container-fluid .middle3rdSection{
    max-width: 1446px;
    margin: 0 auto;
}
.eachBox {
	background:#ffffff;
	min-height:500px;
	width:450px;
	border-bottom:16px solid #006f9a;
	border-radius: 0 0 10px 10px;
	
	
	-webkit-box-shadow: 0px -7px 14px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px -7px 14px 1px rgba(0,0,0,0.5);
	box-shadow: 0px -7px 14px 1px rgba(0,0,0,0.5);
	
}
.ctaFlag .skewIcon {
	width:10px;
	height:34px;
	top:-4px;
}
.ctaFlag img {
	width:20px;
	height:20px;
	top:8px;
}
.ctaFlag a{
	padding-left:58px; 
	line-height:34px;
	font-size:13px;
	overflow:hidden;
}
.copyContent h2{
	font-size:25px;
	line-height:38px;
}
.copyContent p{
	font-size:18px;
	line-height:28px;
}

/*======================================================
  SERVICE SECTION START
=======================================================*/
.serviceSction h2 {
	font-size:54px;
}





	
	
}

/* SEBPO-Homepage Most Common = 1366px */
@media only screen and (min-width: 1366px) and (max-width: 1535px){


.iconQuote {
	padding-bottom: 270px;
}
.iconQuote img {
    width: 103px;
    height: 103px;
}
.carousel-inner .item .carousel-caption {
    padding-bottom: 270px;
	 /*padding-bottom: 13%;*/
}
.carousel-indicators {
   padding-bottom: 190px;
	/*padding-bottom: 9%;*/
}
.bannerCarousel {
	height:860px;
}
.slider-masking{ 
	 height: 860px;
}
.carouselHeadLine{ 
	font-size:84px;
	font-weight:800;
    text-transform: uppercase;
}
.carouselSpecLine1{ 
	font-size:36px;
	font-style:italic;
	font-weight:800;
    text-transform: uppercase;
}
.carouselSpecLine2{ 
	font-size:24px;
}

	
}



/* SEBPO-Homepage HDTV = 1080px */

@media only screen and (min-width: 1024px) and (max-width: 1365px) {

header .container {
	max-width:1020px;
}

.navbar-default .navbar-nav>li>a {
    width: 110px;
}
.navbar-collapse ul.navbar-nav:nth-child(7) li img { margin: 20px 0 0 0px }



.expanMenu li.col-sm-4 { width:28%;} 
.expanMenu li.col-sm-4:last-child { width:44%;}
.expanMenu li.col-sm-4 { padding:0 0 0 20px;} 
.moreStories {
    padding-left: 20px;
}
.moreStories ul li{
    padding: 3px 0;
}
.storyCTA {
	width:60px;
    height: 30px;
	display:block;
    border-radius: 4px 0 10px 4px;
    margin: 0 0 0 -13px;
    -webkit-box-shadow: 4px 0px 6px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 4px 0px 6px 1px rgba(0,0,0,0.4);
    box-shadow: 4px 0px 6px 1px rgba(0,0,0,0.4);
	
    position: relative;
}
.storyCTA .skewIcon {
    width: 12px;
    height: 30px;
    transform: skew(0deg, -30deg);
    position: absolute; 
	
	border-radius: 4px 0 10px 4px;
    top: -4px;
    left: 0;
}
.storyCTA img{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 6px;
    left: 24px;
}
/*======================================================
  CAROUSEL START
=======================================================*/


.iconQuote {
	padding-bottom: 180px;
}
.iconQuote img {
    width:74px;
	height:74px;
}
.carousel-inner .item .carousel-caption {
    padding-bottom: 210px;
	 /*padding-bottom: 13%;*/
}
.carousel-indicators {
   padding-bottom: 125px;
	/*padding-bottom: 9%;*/
}
.bannerCarousel {
	height:640px;
}
.slider-masking{ 
	 height: 640px;
}
.carouselHeadLine{ 
	font-size:60px;
	font-weight:800;
    text-transform: uppercase;
}
.carouselSpecLine1{ 
	font-size:24px;
	font-style:italic;
	font-weight:800;
    text-transform: uppercase;
}
.carouselSpecLine2{ 
	font-size:18px;
}
.carousel-inner .item .carousel-caption h2 {
    font-size: 60px;
	line-height:54px;
	padding-top:30px;
}
.carousel-inner .item .carousel-caption p {
    font-size: 24px;
    padding: 25px 0 35px 0;
}
.carousel-inner .item .carousel-caption p small {
    font-size: 18px;
}
.buttonCTA {
    font-size: 27px;
}
.ctaArrow {
    width: 20px;
    height: 20px;
}

.carousel-indicators li {
  width: 14px;
    height: 14px;
    margin: 0 14px;
    border-radius: 8px;
}
.carousel-indicators li.active {
  width: 14px;
    height: 14px;
    margin: 0 14px;
    border-radius: 8px;
}





/*======================================================
  middle3rdSection SECTION START
=======================================================*/
.container-fluid.topAndBtmSpace{
    margin-top: -75px;
    padding: 0 0 50px 0;
}
.container-fluid .middle3rdSection{
    max-width: 1020px;
    margin: 0 auto;
}
.eachBox {
	background:#ffffff;
	min-height:380px;
	border-bottom:16px solid #006f9a;
	border-radius: 0 0 10px 10px;
	
	
	-webkit-box-shadow: 0px -7px 14px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px -7px 14px 1px rgba(0,0,0,0.5);
	box-shadow: 0px -7px 14px 1px rgba(0,0,0,0.5);
	
}
.ctaFlag .skewIcon {
	width:10px;
	height:26px;
	top:-4px;
}
.ctaFlag img {
	width:14px;
	height:14px;
	top:6px;
	left: 22px;
}
.ctaFlag a{
	padding-left:40px; 
	line-height:26px;
	font-size:10px;
	overflow:hidden;
}
.copyContent { padding: 5px 12px 12px }
.copyContent h2{
	font-size:18px;
	line-height:26px;
}
.copyContent p{
	font-size:14px;
	line-height:20px;
}





/*======================================================
  SERVICE SECTION START
=======================================================*/
.serviceSction h2 {
	font-size:48px;
}









/*======================================================
  FOOTER START
=======================================================*/

footer .container {
	max-width:1020px;
}

footer p {
	font-size:16px;
	line-height:normal;
}
footer .socialMedia ul li {
    margin: 0 10px;
}



}

/*
@media only screen and (min-width: 1080px) and (max-width: 1179px){


.iconQuote {
	padding-bottom: 200px;
}
.carousel-inner .item .carousel-caption {
    padding-bottom: 125px;
}
.carousel-indicators {
    padding-bottom: 80px;
}
	
	
}*/

/*@media only screen and (min-width: 1180px) and (max-width: 1280px){


.iconQuote {
	padding-bottom: 210px;
}
.carousel-inner .item .carousel-caption {
    padding-bottom: 136px;
}
.carousel-indicators {
    padding-bottom: 85px;
}	
	
}
*/

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

header .container {
	max-width:768px;
}

.navbar-default .navbar-nav>li>a {
    width: 75px;
    color: #FFF;
	font-size:9px;
}
.navbar-collapse ul.navbar-nav:nth-child(7) li img { margin: 20px 0 0 0px }

.storyCTA {
	width:60px;
    height: 30px;
	display:block;
    border-radius: 4px 0 10px 4px;
    margin: 0 0 0 -13px;
    -webkit-box-shadow: 4px 0px 6px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 4px 0px 6px 1px rgba(0,0,0,0.4);
    box-shadow: 4px 0px 6px 1px rgba(0,0,0,0.4);
	
    position: relative;
}
.storyCTA .skewIcon {
    width: 12px;
    height: 30px;
    transform: skew(0deg, -30deg);
    position: absolute; 
	
	border-radius: 4px 0 10px 4px;
    top: -4px;
    left: 0;
}
.storyCTA img{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 6px;
    left: 24px;
}



.expanMenu li.col-sm-4 { width:28%;} 
.expanMenu li.col-sm-4:last-child { width:44%;}
.expanMenu li.col-sm-4 { padding:0 0 0 20px;} 
.moreStories {
    padding-left: 20px;
}
.moreStories ul li{
    padding: 3px 0;
	font-size: 18px;
}


/*======================================================
  CAROUSEL START
=======================================================*/

.iconQuote {
	padding-bottom: 180px;
}
.iconQuote img {
    width:74px;
	height:74px;
}
.carousel-inner .item .carousel-caption {
    padding-bottom: 210px;
	 /*padding-bottom: 13%;*/
}
.carousel-indicators {
   padding-bottom: 125px;
	/*padding-bottom: 9%;*/
}
.bannerCarousel {
	height:640px;
}
.slider-masking{ 
	 height: 640px;
}
.carouselHeadLine{ 
	font-size:60px;
	font-weight:800;
    text-transform: uppercase;
}
.carouselSpecLine1{ 
	font-size:24px;
	font-style:italic;
	font-weight:800;
    text-transform: uppercase;
}
.carouselSpecLine2{ 
	font-size:18px;
}


.buttonCTA {
    font-size: 27px;
}
.ctaArrow {
    width: 22px;
    height: 22px;
}


/*======================================================
  middle3rdSection SECTION START
=======================================================*/
.container-fluid.topAndBtmSpace{
    margin-top: -75px;
    padding: 0 0 50px 0;
}
.container-fluid .middle3rdSection {
    max-width: 720px;
    margin: 0 auto;
}
.marginTop {
	margin-top:-80px;
}

.middle3rdSection {
	height:350px;
}
.eachBox {
	background:#ffffff;
	min-height:420px;
	border-bottom:16px solid #006f9a;
	border-radius: 0 0 10px 10px;
	
	
	-webkit-box-shadow: 0px -4px 8px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px -4px 8px 1px rgba(0,0,0,0.5);
	box-shadow: 0px -4px 8px 1px rgba(0,0,0,0.5);
	
}

.ctaFlag { 
	height:26px;
	border:1px solid #babfc1;
	border-radius:4px 0 8px 4px;
	margin:10px 0 0 -12px;
	
	-webkit-box-shadow: 4px 0px 6px 1px rgba(0,0,0,0.4);
	-moz-box-shadow: 4px 0px 6px 1px rgba(0,0,0,0.4);
	box-shadow: 4px 0px 6px 1px rgba(0,0,0,0.4);
	
	position:relative;
}
.ctaFlag .skewIcon {
	width:10px;
	height:26px;
	transform: skew(0deg, -30deg);
	
	position:absolute;
	top:-4px;
	left:0;
}
.blueFlag .skewIcon {
	border-radius:4px 0 8px 4px;
}
.orrangeFlag .skewIcon {
	border-radius:4px 0 8px 4px;
}
.ctaFlag img {
	width:14px;
	height:14px;
	
	position:absolute;
	top:6px;
	left:30px;
}
.ctaFlag a{
	padding-left:50px; 
	line-height:26px;
	font-size:10px;
	height:26px;
	overflow:hidden;
}
.copyContent {
	padding:5px 20px 15px;
}
.copyContent h2{
	font-size:20px;
	line-height:26px;
}
.copyContent p{
	font-size:14px;
	line-height:20px;
}






/*======================================================
  FOOTER START
=======================================================*/

footer .container {
	max-width:1020px;
}

footer p {
	font-size:16px;
	line-height:normal;
}
footer .socialMedia ul{
	padding:20px 0 0 20px;
}
footer .socialMedia ul li {
    margin: 0 10px;
}
.borderRight { border-right: none;}

.borderRight .media {
	border-bottom:1px solid #000; padding:0 0 16px 30px; margin-bottom:16px; display:block; 
}




}





/*======================================================
  (max-width: 767px) start
=======================================================*/
/* SEBPO-Homepage-iPhone */
@media only screen and (max-width: 767px) {

    .row {
		margin-right: 0;
	}
    /*NAVBAR START*/

	.navbar-header {
		background-color: #454545;
	}
	.navbar-brand {
		padding: 5px 40px;
	}
	.navbar {
		min-height: 50px;
	}
	.navbar-default .navbar-toggle {
		border-color: transparent;
		padding: 0;
		margin-top: 12px;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}
	header .container, header .container-fluid{
		padding-left: 0;
		padding-right: 0;
	}
	.navbar-default .navbar-nav > li > a {
		width: 100%;
		font-size: 34px;
		line-height: 40px;
		font-weight: 800;
		text-transform: uppercase;
		color: #FFF;
		border-bottom: none;
	}
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        border-bottom: 0;
    }
	.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active {
		border-bottom: 0;
	}
	.navbar-collapse ul.navbar-nav:nth-child(7) li {
		display: none;
	}
	.navbar-default .navbar-collapse {
		border-color: transparent;
	}
	.navbar-collapse ul.navbar-nav:first-child li {
		padding-top: 100px;
	}
	.navbar-fixed-top .navbar-collapse {
		max-height: 100% !important;
	}

	.dropdown-toggle br {
		display: none;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
		height: 3px;
		width: 40px;
	}
	.navbar-toggle .icon-bar+.icon-bar {
		margin-top: 8px;
	}

	.navbar-collapse {
		color: #FFFFFF;
		background-color: #454545;
	}
	.navbar-collapse .navbarSocialIcons{
		display: block;
		list-style: none;
		border-top: 1px solid #fff;
		padding: 20px 0 100px;
	}
	.navbar-collapse .navbarSocialIcons li{
		display: inline-block;
		padding: 0 .5%;
	}
	.navbar-collapse .navbarSocialIcons li a img {
		border: 2px solid #fff;
		border-radius: 30px;
	}
    /*NAVBAR X BUTTON START*/
    .navbar-toggle .icon-bar:nth-of-type(2) {
        top: 1px;
    }

    .navbar-toggle .icon-bar:nth-of-type(3) {
        top: 0;
    }
    .navbar-toggle .icon-bar:nth-of-type(4) {
        top: -2px;
    }

    .navbar-toggle .icon-bar {
        position: relative;
        transition: all 500ms ease-in-out;
    }

    .navbar-toggle.active .icon-bar:nth-of-type(2) {
        top: 13px;
        transform: rotate(45deg);
    }

    .navbar-toggle.active .icon-bar:nth-of-type(3) {
        background-color: transparent;
    }

    .navbar-toggle.active .icon-bar:nth-of-type(4) {
        top: -9px;
        transform: rotate(-45deg);
    }
    /*NAVBAR X BUTTON END*/
	/*NAVBAR END*/

	/*CAROUSEL START*/


	.iconQuote img{
		height: auto;
	}
	.carousel-inner .item .carousel-caption {
		padding-bottom: 0;
		top: 5%;
	}
	.carousel-inner .item .carousel-caption h2 {
		padding-top: 2%;
		font-size: 32px;
		line-height: 40px;
	}
	.carousel-inner .item .carousel-caption p {
		font-size: 25px;
		padding: 3% 0;
	}
	.carousel-inner .item .carousel-caption p span {
		padding: 0 12px;
	}
	.carousel-inner .item .carousel-caption .carouselCTA {
		font-size: 16px;
		top: -15%;
	}
	.ctaArrow {
		width: 16px;
		height: 16px;
	}



    .iconQuote {
        padding-bottom: 170px;
    }
    .iconQuote img{
        width: 60px;
        height: 60px;
    }
    .carousel-inner .item .carousel-caption {
        padding-top: 40px;
    }
    .carousel-indicators {
        padding-bottom: 200px;
    }

	.carousel-indicators {
        top: 295px;
	}
    .box-with-text {
        margin-top: -42px;
    }
    .bannerCarousel {
        height: 470px;
    }
    .slider-masking{
        height: 470px;

    }




    /*CAROUSEL END*/
	/*MIDDLE 3RD SECTION START*/
	.middle3rdSection {
		border-top: 6px solid #fff;
		border-bottom: 6px solid #fff;
	}
	.middleContainer {
		margin-top: 0;
		padding: 0;
	}
	.middle3rdSection .col-xs-12 {
		padding-left: 0;
		padding-right: 0;
	}
	.eachBox {
		background: #ffffff none repeat scroll 0 0;
		border-bottom: medium none;
		border-radius: 0;
		box-shadow: none;
		min-height: 0;
		padding: 0;
		width: 100%;
	}
	.eachBox{
		border-bottom: 6px solid #006f9a;
	}
	.copyContent {
		display: none;
	}
	.eachBoxCont {
		border: none;
		padding-bottom: 32px;
	}
	.ctaFlag .skewIcon {
		display: none;
	}
	.ctaFlag img {
		height: 22px;
		top: 9px;
		width: 22px;
		left: 35px;
	}
	.ctaFlag a {
		font-size: 15px;
		line-height: 38px;
		padding-left: 65px;
	}
	.ctaFlag {
		height: 40px;
		margin-top: -72px;
		border: none;
	}
	.btmOrrangeBdr {
		border-bottom: 6px solid #f58000!important;
	}
	/*MIDDLE 3RD SECTION END*/

	/*SERVICE SECTION START*/
	.serviceSction {
		background: #f2f2f2;
		padding: 60px 0;
	}
	.blueOverlay {
		background: transparent;
		box-shadow: none;
		padding: 0;
	}
	.serviceSction h2 {
		font-size: 44px;
		color:#006f9a;
		padding-bottom: 45px;
	}
	.serviceSction .buttonCTA {
		display: block;
		padding: 10px 20px;
	}
	.developmentCTA .ctaArrow, .advertisingCTA .ctaArrow{
		width: 28px;
		height: 28px;
	}
	.serviceSction ul li {
		margin: 15px auto;
		display: inline-block;
		width: 70% !important;
	}
	/*SERVICE SECTION END*/

	/* FOOTER START */
	footer .socialMedia ul li{
		margin: 0 1.2%;
		padding: 0;
	}
	footer .socialMedia ul li:first-child{
		padding-left: 0;
	}
	footer .termsAndCond ul li:last-child {
		padding: 0 0 0 48px;
	}
	.copyrightPadding {
		padding: 24px 15px 0 15px;
	}

	footer p {
        line-height: 30px;
    }
	.socialMedia p{
		font-size: 24px;
		padding: 0 0 18px 0;
	}
	.bdContacts .flag{
		width: 50px;
		padding: 0;
	}
	.borderRight {
		border-right:1px solid #fff;
		border-bottom: 1px solid #000;
		padding-bottom: 18px;
	}
	.footerContacts .paddingTop{
		padding-top: 18px;
	}
	.usaContacts .flag{
		width: 50px;
		padding: 0;
	}
	.row.footerContacts {
		padding-left: 15px;
		padding-right: 15px;
	}
	.borderTop.paddingTop {
		margin-left: 0;
		margin-right: 0;
	}
	.termsAndCond {
		padding-right: 0;
	}
	.footerContacts .media {
		padding: 0;
	}
    .copyRight{
        padding: 0;
    }
	.copyRight p{
		font-size: 14px;
	}
	.termsAndCond ul li a{
		font-size: 14px;
	}
	/* FOOTER END */
}
/*======================================================
  (max-width: 767px) end
=======================================================*/

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 599px) {
	.navbar-collapse .navbarSocialIcons li a img {
		height: 45px;
		width: 45px;
	}
	.serviceSction h2 {
		font-size: 34px;
	}

	.socialMedia p {
		font-size: 20px;
	}
	.media-left img{
		height: 30px;
		width: 30px;
	}
	.media-body h4{
		font-size: 16px;
	}
	.media-body p{
		font-size: 14px;
	}
	footer .socialMedia ul li {
		margin: 0 6px;
	}
	footer .socialMedia ul li a img {
		height: 40px;
		width: 40px;
	}
	.copyRight p {
		font-size: 10px;
		line-height: 25px;
	}
	footer .termsAndCond ul li a {
		font-size: 10px;
	}

	footer .termsAndCond ul li:last-child {
		padding: 0 0 0 20px;
	}

}

/*Extra small device*/
@media only screen and (min-width: 320px) and (max-width: 479px) {

	.navbar-collapse .navbarSocialIcons li a img {
		height: 28px;
		width: 28px;
	}
	.navbar-collapse ul.navbar-nav:first-child li {
		padding-top: 0;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 22px;
		line-height: 20px;
	}
	.eachBoxCont {
		padding-bottom: 15px;
	}

	.ctaFlag img {
		height: 14px;
		top: 6px;
		width: 14px;
	}
	.ctaFlag a {
		font-size: 10px;
		line-height: 26px;
		padding-left: 55px;
	}
	.ctaFlag {
		height: 26px;
		margin-top: -41px;
		border: none;
	}

	.serviceSction {
		padding: 30px 0;
	}
	.serviceSction h2 {
		font-size: 22px;
	}
	.buttonCTA {
		font-size: 24px;
	}
	.serviceSction ul li {
		margin: 10px auto;
	}
	.developmentCTA .ctaArrow, .advertisingCTA .ctaArrow {
		height: 18px;
		width: 18px;
	}
	.ctaArrow {
		margin-left: 0;
		border-top: 2px solid #fff;
		border-right: 2px solid #fff;
	}
	.socialMedia p {
		font-size: 12px;
		padding: 0 0 5px 0;
	}
	.media-left img{
		height: 30px;
		width: 30px;
	}
	.media-body h4{
		font-size: 16px;
	}
	.media-body p{
		font-size: 14px;
	}
	footer .socialMedia ul li {
		margin: 0 3px;
	}
	footer .socialMedia ul li a img {
		height: 25px;
		width: 25px;
	}
	.copyRight p {
		font-size: 6px;
		line-height: 29px;
	}
	footer .termsAndCond ul li a {
		font-size: 6px;
	}
	footer .termsAndCond ul li:last-child {
		padding: 0 0 0 10px;
	}

	/*carousel-caption start*/
	.iconQuote {
		width: 6%;
		height: 6%;
	}
	.carousel-inner .item .carousel-caption h2 {
		font-size: 18px;
		line-height: 20px;
	}
	.carousel-inner .item .carousel-caption p {
		font-size: 10px;
		padding: .1% 0;
	}
	.carousel-inner .item .carousel-caption p small {
		font-size: 8px;
	}
	.carousel-inner .item .carousel-caption p span {
		padding: 0 6px;
	}
	.carousel-inner .item .carousel-caption .carouselCTA {
		font-size: 8px;
	}
	.ctaArrow {
		width: 10px;
		height: 10px;
	}

	.carousel-inner .item .carousel-caption .carouselCTA {
		padding: 8px 30px 8px 20px;
	}
	.carousel-inner .item .carousel-caption {
		padding-bottom: 1%;
	}
	.carousel-indicators li.active {
		height: 10px;
		margin: 0 10px;
		width: 10px;
	}
	.carousel-indicators li {
		height: 10px;
		margin: 0 10px;
		width: 10px;
	}
	.carousel-indicators {
		padding-bottom: 7%;
	}
	/*carousel-caption end*/
}


@media only screen and (min-width:0px) and (max-width: 319px) {

	.bannerCarousel {
		display: none;
	}

	.container-fluid.topAndBtmSpace {
		margin-top: 40px;
	}

}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {



}