/*********************************************************************
***********************************************************************
    Theme Name: SEBPO Website
    Theme URI: sebpo.coom
    Author: SEBPO CREATIVE TEAM 
    Version: 1.00 
    
    Misc Colors
    ===========
    BACKGROUND COLOR:#f2f2f2;
    SEBPO BLUE:#006f9a;
    SEBPO ORANGE:#f58000;
    
    
    
    
    Open Sans
    =========
    Normal 400
    Normal 400 Italic
    Bold 700
    Extra-Bold 800
************************************************************************
************************************************************************/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, p {
 margin : 0; padding : 0; border : 0; vertical-align  : baseline;
}
html, button, input, select, textarea {
 color : #000
}
textarea {
 resize: none
}
body {
    font-family: 'Open sans', sans-serif , Arial, Helvetica, Verdana, Geneva;
    font-size: 16px;
    font-weight: normal;
    color : #000;
    background-color: #f2f2f2;
}
.img-responsive { max-width: 100% }
a { color: #006f9a }
audio,
canvas,
img { vertical-align : middle }
ul,
li {
    margin: 0;
    padding: 0;
}
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    color: #006f9a;
}
p {
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin  : 0;
    padding : 0;
}
h1 {
    font-size: 30px;
    font-weight: 700;
}
h2 {
    font-size: 25px;
    font-weight: 600;
}
h3 { font-size: 20px }
h4 { font-size: 20px }
.btn-danger,
.btn-default,
.btn-info,
.btn-primary,
.btn-success,
.btn-warning {
    box-shadow: none;
    text-shadow: none;
    outline: none;
}
/*======================================================
  LOADER START
=======================================================*/
#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 999999;
}
.loader-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #FFFFFF;
}
.preloader-content {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 128px;
    height: 128px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/*======================================================
  LOADER END
=======================================================*/
header {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 6px 8px rgba(0, 0, 0, .8);
}
.navbar { margin: 0 }
.navbar-default {
    background: transparent;
    border: none;
    text-align: center;
}
.navbar-nav>li>.dropdown-menu {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.navbar-default .navbar-nav>li>a {
    width: 160px;
    font-weight: bold;
    color: #FFF;
    border-bottom: 2px solid;
	border-color:transparent;
}
.navbar-brand { padding: 15px 40px }
.navbar-default .navbar-nav>li>a:hover { color: #FFF ; border-bottom: 2px solid #ff6600;}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background: transparent;
    color: #FFF;
    border-bottom: 2px solid #ff6600;
}
.navbar-collapse ul.navbar-nav:nth-child(6) li a { line-height: 40px }
.navbar-collapse ul.navbar-nav:nth-child(7) li img { margin: 20px 0 0 30px }
.mega-dropdown {
    position: static !important;
    width: 100%;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}
.mega-dropdown-menu > li > ul > li { list-style: none }
.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #FFF;
    white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: #FFF;
    background-color: #f5f5f5;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus { color: #FFF; }
.mega-dropdown-menu .dropdown-header {
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
}
.mega-dropdown-menu form { margin: 3px 20px }
.mega-dropdown-menu .form-group { margin-bottom: 3px }

.navbar-collapse .navbarSocialIcons{
    display: none;
}
/*======================================================
  MEGA MENU START
=======================================================*/
.expanMenu {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(238, 238, 238, 0.2);
    border-top: none;
    border-radius: 0 0 14px 14px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, .66);
    margin: 0 auto;
    padding-top: 28px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.navbar-nav>li>.dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.expanMenu li.col-sm-4 { padding:0 0 0 30px;} 
.eachStory { padding:0; margin:0; }
.extraPaddTop { padding-top: 15px; }
.eachStory h3 {
    text-align: left;
    font-size: 16px;
}
.eachStoryCont {
	width:100%;
	padding:15px 0;
}
.eachStoryVideoHolder {
	width:100%;
	border:1px solid #fff;
	position:relative;
}
.eachStoryVideoHolder img{
	width:100%;
	height:auto;
}
.eachStoryVideoHolder a {
	position:absolute;
	bottom:16px;
	display:block;
}
.storyCTA {
	width:90px;
    height: 44px;
	display:block;
    border-radius: 4px 0 10px 4px;
    margin: 0 0 0 -17px;
    -webkit-box-shadow: 4px 0px 6px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 4px 0px 6px 1px rgba(0,0,0,0.4);
    box-shadow: 4px 0px 6px 1px rgba(0,0,0,0.4);
	
    position: relative;
}
.storyCTA .skewIcon {
    width: 16px;
    height: 44px;
    transform: skew(0deg, -30deg);
    position: absolute; 
	
	border-radius: 4px 0 10px 4px;
    top: -4px;
    left: 0;
}
.storyBlueFlag {
    background-color: rgba(0, 111, 154, 0.66);
}
.storyBlueFlag .skewIcon {
	background-color: rgba(0, 111, 154, 0.66);
}
.storyOrrangeFlag {
    background-color: rgba(245, 128, 0, 0.73);
}
.storyOrrangeFlag .skewIcon {
    background-color: rgba(245, 128, 0, 0.73);
}

.storyCTA img{
    width: 26px;
    height: 26px;
    position: absolute;
    top: 9px;
    left: 30px;
}
.storiesData { margin-left: 40px; }
.storiesCont { width:100%; }
.storyMarginLft {margin-left: 40px;}

.borderLeft {
    border-left: 1px solid #fff;
    margin-left: -5px;
}
.moreStories {
    padding-left: 32px;
    border-left: 1px solid #FFF;
}
.moreStories h3 {
    text-align: left;
    font-size: 16px;
    padding-bottom: 8px;
}
.moreStories ul {
	list-style:none;
}
.moreStories ul li{
	display: block;
    font-size: 22px;
    padding: 10px 0;
}
/*======================================================
  MEGA MENU END
=======================================================*/
/*======================================================
  CAROUSEL START
=======================================================*/
.videoOverlay {
    background-color: rgba(255, 255, 255, 0.66);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    -moz-box-shadow: inset 0 -20px 20px -20px #000000;
    -webkit-box-shadow: inset 0 -20px 20px -20px #000000;
    box-shadow: inset 0 -20px 20px -20px #000000;
}
.iconQuote {
    display: block;
    margin: 0 auto;
	
	/*padding-bottom: 300px;*/
}
.iconQuote img {
    width: 103px;
    height: 103px;
}
.carousel-inner {
    width: 100%;
    overflow: hidden;
}
.carousel-inner .item .carousel-caption h2 {
    /*font-size: 84px;
    line-height: 78px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;*/
}
.carousel-inner .item .carousel-caption p {
    /*font-size: 36px;
    padding: 40px 0;
    text-align: center;*/
}
.carousel-inner .item .carousel-caption p strong { font-style: italic }
.carousel-inner .item .carousel-caption p span { padding: 0 25px }
.carousel-inner .item .carousel-caption p small {
    /*font-size: 24px;
    font-style: italic;*/
}
.carousel-inner .item .carousel-caption .carouselCTA {
    color: #fff;
    border-radius: 0 0 10px 0;
    padding: 10px 48px 10px 40px;
}
.buttonCTA {
    background-color: rgba(0, 0, 0, 0.66);
    color: #fff;
    font-size: 36px;
    line-height: auto;
    font-weight: 400;
    border: 1px solid rgba(255, 255, 255, 0.66);
    text-transform: lowercase;
    display: inline-block;
    position: relative;
}
.buttonCTA:hover { color: #fff }
.ctaArrow {
	margin-left:10px;
    display: inline-block;
    width: 28px;
    height: 28px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(43deg) skew(-1deg);
}
.carousel-inner .item .carousel-caption {
    width: 90%;
    left: 5%;
    right: 5%;
	
    /*padding-bottom: 380px;
	padding-bottom: 20%;*/
}
.carousel-indicators {
    /*padding-bottom: 250px;
	padding-bottom: 17%;*/
}
.carousel-indicators li {
    background-color: none;
    width: 14px;
    height: 14px;
    margin: 0 14px;
    border-radius: 8px;
    border: 2px solid #fff;
}
.carousel-indicators li.active {
    background-color: #006f9a;
    width: 14px;
    height: 14px;
    margin: 0 14px;
    border-radius: 8px;
    border: 2px solid #fff;
}
.carousel-inner img { width: 100% }



.bnrPlaceHolderImg { 
	background:url(../img/branding_video_placeholder1.jpg) no-repeat center top;
	width:100%;
	height:auto;
}
.bnrImgDisplayNone { 
	display:none;
}
.bnrImgDisplayBlock { 
	display:block;
}

.mask__shape { fill: white }
/*.p-rect {
    fill: #eea765;
    fill-opacity: 0.66;
}
.p-path {
    stroke: #eea765;
    stroke-width: 1;
}
.shape--stroke {
    fill: none;
    stroke-width: 3;
    stroke-opacity: 0.66;
    stroke: #eea765;
}
*/
.shape--fill { 
	fill: rgba(255, 255, 255, 0.66);
	
    /*min-height: 860px; 
	
	
	-moz-box-shadow: inset 0 -20px 20px -20px #000000;
    -webkit-box-shadow: inset 0 -20px 20px -20px #000000;
    box-shadow: inset 0 -20px 20px -20px #000000;*/
		
}
.text--stroke { fill: none }
.box-with-text {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    /*padding-top: 50%;*/
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.text-fill {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
}
.video {
    display: block;
    width: auto;
	height:100vh;
    margin: 0 auto;
} 
.svg-defs {
    width: 100%;
	height: 100%;
    /*height: 100vh; */
}
.svg-inverted-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

#s-text {
	font-size:50px;
}
.bannerCarousel {
    width: 100%;
	height:1000px;
    overflow: hidden;
}
.slider-masking{ 
	 width: 100%;
	 height: 1000px;
	
    position: relative;
    /*font: 800 5em/1 Open Sans, Impact;
    font-family: 'Open sans', sans-serif , Arial, Helvetica, Verdana, Geneva;
	font-size:84px;
	font-weight:800;*/
	
    text-transform: uppercase;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
}
/*.carouselHeadLine{ 
	font-size:96px;
	font-weight:800;
    text-transform: uppercase;
}
.carouselSpecLine1{ 
	font-size:48px;
	font-style:italic;
	font-weight:800;
    text-transform: uppercase;
}
.carouselSpecLine2{ 
	font-size:36px;
}*/

.carouselHeadLine{ 
	font-size:84px;
	font-weight:800;
    text-transform: uppercase;
}
.carouselSpecLine1{ 
	font-size:36px;
	font-style:italic;
	font-weight:800;
    text-transform: uppercase;
}
.carouselSpecLine2{ 
	font-size:24px;
}

/*======================================================
  middle3rdSection SECTION START
=======================================================*/
.container-fluid.topAndBtmSpace{
    margin-top: -144px;
    padding: 0 0 50px 0;
}
.container-fluid .middle3rdSection{
    max-width: 1250px;
    margin: 0 auto;
}
/*.container-fluid .middleContainer {
    margin-top: -144px;
    padding: 0 0 50px 0;
}*/
.eachBox {
    background: #ffffff;
    width: 100%;
    min-height: 420px;
    border-bottom: 16px solid #006f9a;
    border-radius: 0 0 8px 8px;
    padding: 0;
    -webkit-box-shadow: 0px -5px 9px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -5px 9px 1px rgba(0,0,0,0.5);
    box-shadow: 0px -5px 9px 1px rgba(0,0,0,0.5);
}
.eachBoxCont {
    width: 100%;
    border: 1px solid #fff;
}
.btmOrrangeBdr { border-bottom: 16px solid #f58000!important }
.imgPlaceHolder { width: 100% }
.imgPlaceHolder img {
    width: 100%;
    height: auto;
}
.ctaFlag {
    border: 1px solid #babfc1;
    border-radius: 4px 0 10px 4px;
    margin: 10px 0 0 -12px;
    -webkit-box-shadow: 4px 0px 6px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 4px 0px 6px 1px rgba(0,0,0,0.4);
    box-shadow: 4px 0px 6px 1px rgba(0,0,0,0.4);
    position: relative;
}
.ctaFlag .skewIcon {
    width: 10px;
    height: 30px;
    transform: skew(0deg, -30deg);
    position: absolute;
    top: -2px;
    left: 0;
}
.blueFlag {
    width: 85%;
    background-color: rgba(0, 111, 154, 0.66);
}
.blueFlag .skewIcon {
    background-color: rgba(0, 111, 154, 0.66);
    border-radius: 4px 0 10px 4px;
}
.orrangeFlag {
    width: 95%;
    background-color: rgba(245, 128, 0, 0.73);
}
.orrangeFlag .skewIcon {
    background-color: rgba(245, 128, 0, 0.73);
    border-radius: 4px 0 10px 4px;
}
.ctaFlag img {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 6px;
    left: 30px;
}
.ctaFlag a {
    padding-left: 55px;
    line-height: 30px;
    font-size: 12px;
    font-style: italic;
    color: #fff;
    display: block;
    width: 100%;
}
.copyContent { padding: 5px 20px 20px }
.copyContent h2 {
    font-size: 24px;
    line-height: 32px;
    padding: 5px 0;
}
.copyContent p {
    font-size: 16px;
    line-height: 24px;
}
/*======================================================
  SERVICE SECTION START
=======================================================*/
.serviceSction {
    background: url(../img/parallax-bg.jpg)no-repeat center center fixed;
    background-size: cover;
    /*margin-top: 46px;;
    border-top: 6px solid #000;
    border-bottom: 6px solid #000;*/
}
.blueOverlay {
    padding: 70px 0;
    background: rgba(0, 111, 154, 0.5);
    -moz-box-shadow: inset  0  20px 20px -20px #000000, inset  0 -20px 20px -20px #000000;
    -webkit-box-shadow: inset  0  20px 20px -20px #000000, inset  0 -20px 20px -20px #000000;
    box-shadow: inset  0  20px 20px -20px #000000, inset  0 -20px 20px -20px #000000;
    /*-moz-box-shadow: inset 0 -20px 20px -20px #000000;;
    -webkit-box-shadow: inset 0 -20px 20px -20px #000000;
    box-shadow: inset 0 -20px 20px -20px #000000;*/
}
.serviceSction h2 {
    font-size: 48px;
    font-weight: 800;
    color: #FFF;
    text-transform: uppercase;
    padding-bottom: 46px;
    position: relative;
}
.serviceSction .buttonCTA {
    min-width: 240px;
    width: auto;
    color: #fff;
    padding: 10px 62px 10px 54px;
}
.serviceSction .advertisingCTA {
    border-radius: 0 0 0 10px;
}
.serviceSction .developmentCTA {
    border-radius: 0 0 10px 0;
}
.serviceSction ul { list-style: none }
.serviceSction ul li {
    margin: 0 18px;
    display: inline;
}
/*======================================================
  SERVICE SECTION END
=======================================================*/
/*======================================================
  FOOTER START
=======================================================*/
footer {
    background-color: #FFF;
    color: #000000;
    padding: 30px 0;
}
footer p {
    font-size: 16px;
    line-height: 54px;
    margin: 0;
}
.socialMedia p { padding: 0 0 0 30px }
.borderTop { border-top: 1px solid #000 }
.borderTopBtm { border-top: 1px solid #000; border-bottom: 1px solid #000; }
.socialMedia { padding: 31px 0 }
footer .socialMedia ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
footer .socialMedia ul li {
    float: left;
    padding: 0;
    margin: 0 23px;
}
footer .socialMedia ul li a { display: block }
.footerContacts .media { padding: 0 0 0 30px }
.footerContacts .media p {
    line-height: 24px;
    color: #006f9a;
}
.footerContacts .paddingTop { padding-top: 0px }
.footerContacts { padding: 20px 0 }
.contactsDetails strong {
    text-transform: uppercase;
    display: block;
}
.contactsDetails span {
    text-transform: uppercase;
    display: block;
    color: #006f9a;
}
.locationPin {
    background: url(../img/location-pin.png) no-repeat 3px 3px;
    padding-left: 32px;
    display: block;
}
.phoneCall {
    background: url(../img/phone-call.png) no-repeat 0 3px;
    padding-left: 32px;
}
.borderRight { border-right: 1px solid #000 }
.paddingTop { padding-top: 30px }
.copyRight { padding-left: 30px }
.copyRight p {
    padding: 0;
    margin: 0;
    line-height: normal;
}
.termsAndCond { text-align: right }
footer .termsAndCond ul { list-style: none }
footer .termsAndCond ul li { display: inline }
footer .termsAndCond ul li:last-child { padding: 0 48px }
.copyrightPadding { padding-top: 24px }
/*======================================================
  FOOTER END
=======================================================*/